<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.ads.app.wififinder">


    <uses-permission android:name = "android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name = "android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name = "android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"></uses-permission>
<!--An app requested too many scans in a certain period of time. This may lead to additional
    scan request rejections via "scan throttling" for both foreground and background apps.
    Note: Apps holding android.Manifest.permission.NETWORK_SETTINGS permission are exempted
    from scan throttling.-->
    <uses-permission android:name="android.Manifest.permission.NETWORK_SETTINGS"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_wifi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_wifi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".services.WifiService"
            android:enabled="true"
            android:exported="true" />
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>